table{
    border-collapse:separate;
    border-spacing: 5px;
    width: 100%;
  }
  
  table th,table td{
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
  }
  
  table th{
    background-color: #c79852;
    color: white;
    border:solid 1px #927141;
  }
  
  table td{
    background-color: #e4d4bc;
    border:solid 1px #af9d85;
  }